@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200&family=Open+Sans:wght@300&display=swap');

:root {
    --font-family: 'Inconsolata', monospace;
    --font-family: 'Open Sans', sans-serif;
    --bg-color: #35A29F;
    --primary-color: #071952;
}

body {
    backg
}